* {
  width: 100%;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

/* admin header design start */
.admin-navbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16rem;
  /* border: 1px solid yellow; */
  width: 99.8%;
  height: 70px;
  box-shadow: 0px 0px 10px 2px rgba(26, 65, 138, 0.473);
}

.admin-logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  gap: 2rem;
  /* width: 150px; */
}

/* admin header design end */
/* login-register header design start */

.loginRegister-tab {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginRegister-tab nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginRegister-tab .tab-content {
  width: 50%;
}

/* login-register header design end */

/* navbar style */
.root-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35rem;
  /* border: 1px solid yellow; */
  width: inherit;
  height: 70px;
  box-shadow: 0px 0px 10px 2px rgba(26, 65, 138, 0.473);
}

.logo {
  height: 55px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}

.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  cursor: pointer;
  width: auto;
}

.navbar-items a {
  width: auto;
}

.navbar-items span {
  font-size: 1rem;
  font-weight: 500;
}

.navbar-items span:hover {
  /* text-decoration: underline; */
  color: rgb(18, 26, 136);
}

.active-navbar-item span {
  color: rgb(18, 26, 136);
}

/* others */
.other-containers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* border: 1px solid blue; */
  width: 99.8%;
  min-height: 400px;
}


/* footer section */
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(18, 26, 136);
  min-height: 130px;
  width: 100%;
}

.footer-logo {
  height: 90px;
  width: 200px;
  padding-left: 15px;
  text-align: end;
}

.footer-container-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  /* width: 100%; */
  gap: 30px;
  padding-right: 15px;
}

.footer-section-icons {
  /* display: flex;
  align-items: flex-end;
  justify-content: center; */
  text-align: end;
}

.footer-icons {
  color: white;
  height: 25px;
  width: 28px;
  margin-right: 15px;
}

.footer-container-section span {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: end;
}

/* home section */
.home-container {
  width: 100%;
}

.home-section1 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1px;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(161, 184, 228, 0.308));
  /* width: 100%; */
}

.home-section1 img {
  height: 550px;
  width: 450px;
}

.home-section1-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* text-align: center; */
  width: auto;
}

.home-section1-section p {
  font-size: 3rem;
  font-weight: 600;
}

.home-btn-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.home-btn-section .btn-link {
  width: 170px;
}

.home-section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2px;
}

.home-section2-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem;
}

.home-section2-section label {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.section-icons {
  height: 40px;
  width: 40px;
  color: rgb(18, 26, 136);
}

.home-section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  gap: 20px;
}

.home-section3 h2 {
  color: rgb(18, 26, 136);
  margin-bottom: 10px;
}

.card-img {
  max-height: 250px;
  max-width: 250px;
  padding: 10px;
  background: linear-gradient(rgba(142, 171, 226, 0.589), rgba(153, 178, 226, 0.425), rgb(253, 253, 253));
}

.card-img:hover {
  transform: scale(1.05);
}

/* appointment section */
.appointment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px;
  /* border: 1px solid blue; */
  width: 100%;
}

.appointment-container h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  color: rgb(18, 26, 136);
  text-align: center;
}

.appointment-form {
  width: 50%;
  border-radius: 7px;
  box-shadow: 0px 1px 7px 2px rgba(179, 177, 177, 0.692);
  padding: 1rem;
}

.appointment-form h4 {
  text-align: right;
  margin-bottom: 25px;
}

.react-tel-input .form-control {
  border: 1px solid red;
  height: 38px !important;
  width: 100% !important;
}

/* doctors section */
.doctors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 150px;
}

.doctors-header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* width: inherit; */
  height: 11rem;
  background: linear-gradient(rgba(142, 171, 226, 0.589), rgba(153, 178, 226, 0.425), rgb(253, 253, 253));
}

.doctors-header-section h1 {
  color: rgb(18, 26, 136);
  width: 250px;
}

.doctors-search-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgba(83, 83, 83, 0.521);
  border-radius: 10px;
  width: 25%;
  height: 40px;
  padding: 2px;
  padding-left: 10px;
  background-color: #fff;
}

.doctors-search-container #search-input {
  width: 93%;
  height: 100%;
  outline: none;
  border: none;
  color: rgb(18, 26, 136);
}

#search-input::placeholder {
  color: rgb(18, 26, 136);
}

.doctors-list-section {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 1rem;
  /* border: 1px solid red; */
}

.doctors-card {
  height: 380px !important;
  width: 180px;
  margin-top: 20px;
  border: none !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.445);
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.doctors-card-img {
  padding: 10px;
  background: linear-gradient(rgba(142, 171, 226, 0.589), rgba(153, 178, 226, 0.425), rgb(253, 253, 253));
}

/* modal design */
.modal {
  display: flex;
  align-content: center;
}

.modal-header {
  width: inherit;
  height: 30px;
  border: none;
}

.modal-body {
  margin-top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  margin-bottom: 5px;
}

.modal-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  width: 100%;
  background: linear-gradient(rgb(255, 255, 255), rgba(153, 178, 226, 0.425), rgba(252, 252, 252, 0.884));
}

.modal-img img {
  height: 300px;
  padding: 5px;
}

.modal-text {
  text-align: justify;
  font-size: 0.8rem;
  gap: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-text-heading {
  text-align: center;
  /* font-size: 1.2rem; */
  font-weight: 600;
}

.modal-text-subheading {
  text-align: center;
  border: 1px solid steelblue;
  border-radius: 0.4rem;
  background-color: steelblue;
  color: #fff;
  width: auto;
  padding: 0.2rem;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 1.1px;
}

/* responsive styling */
/* Tablets (<=1024px) */
@media screen and (max-width: 1024px) {

  .navbar-container,
  .admin-navbar-container {
    gap: 10rem;
  }

  .appointment-form {
    width: 70%;
  }

  .doctors-header-section {
    flex-direction: column;
    gap: 2rem;
    height: auto;
    padding: 2rem 0;
  }

  .doctors-search-container {
    width: 50%;
  }
}

/* Mobile (<=768px) */
@media screen and (max-width: 768px) {

  .navbar-container,
  .admin-navbar-container {
    /* flex-direction: column; */
    display: flex;
    justify-content: space-between;
    height: auto;
    /* padding: 1rem; */
  }

  .logo {
    margin-left: 0;
  }

  .navbar-items {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .loginRegister-tab nav,
  .loginRegister-tab .tab-content {
    width: 80%;
  }

  .home-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 15px;
  }

  .home-section1 img {
    height: 250px;
    width: 230px;
  }

  .appointment-form {
    width: 80%;
  }

  .home-section1-section p {
    font-size: 2rem;
  }

  .footer-container {
    display: flex;
    text-align: center;
  }

  .footer-logo {
    height: auto;
    width: 150px;
  }

  .footer-container-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    /* width: 100%; */
    gap: 10px;
    padding-right: 15px;
  }

  .doctors-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .doctors-list-section {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    gap: 8px;
  }
}

/* Small Phones (<=480px) */
@media screen and (max-width: 480px) {

  .navbar-container,
  .admin-navbar-container {
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .navbar-items span {
    font-size: 0.9rem;
  }

  .home-section1-section p {
    font-size: 1.6rem;
  }

  .appointment-form {
    width: 95%;
  }

  .doctors-search-container {
    width: 80%;
  }

  .footer-container-section span {
    font-size: 0.9rem;
  }
}

body {
  box-sizing: border-box;
}

/* --- Hamburger --- */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 26px;
  height: 20px;
  cursor: pointer;
  z-index: 9999;
  overflow-y: auto;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background-color: rgb(18, 26, 136);
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Cross animation */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(4px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -5px);
}

/* --- Responsive Navbar --- */
@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navbar-items {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    z-index: 9999;
  }

  .navbar-items.active {
    height: 380px;
    padding-top: 0rem;
  }

  .navbar-items a {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }
}